html(ng-app="VinData")
  head
    title!= title
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="/static/js/ui-bootstrap-tpls.min.js")
    script(src="/static/js/lookup.js")
    script(src="/static/js/Chart.js")
    script(src="/static/js/angular-chart.min.js")
    script(src="/static/js/ng-table.min.js")

    link(rel="stylesheet", href="/static/css/ng-table.css")
    link(rel='stylesheet', href='/static/css/pretty_table.css')
    link(rel='stylesheet', href='/static/css/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='/static/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/static/css/angular-chart.min.css')

  body
    h1!= "Vinmonopolet price history"

    div(ng-controller="Table")
        table(ng-table="Table.tableParams", class="table", show-filter="true")
            tr(ng-repeat="user in data")
                td(title="'Name'", filter="{ name: 'text'}", sortable="'name'")!="{{user.name}}"
                td(title="'Age'", filter="{ age: 'number'}", sortable="'age'")!="{{user.age}}"


    div(class="container-fluid", ng-controller="TypeaheadCtrl")
        input(type="text", ng-model="result", typeahead-on-select="set_item($item)", typeahead="suggestion for suggestion in product($viewValue)")



    table(cellspacing=0)
        thead
            tr
                th!="Varenummer"
                th!="Varenavn"
        tbody
            each val, index in diff_products
                tr
                    td
                        a(href=val.vareurl)!=val.varenummer
                    td!=val.varenavn

    table(cellspacing=0)
        thead
            tr
                th!="Varenummer"
                th!="Varenavn"
                th!="Varetype"
                th!="Alkohol (%)"
                th!="Old price"
                th!="New price"
        tbody
            each val, index in diff_prices
                tr
                    td
                        a(href=val.vareurl)!=val.varenummer
                    td!=val.varenavn
                    td!=val.varetype
                    td!=val.alkohol
                    td!=val.old_price + "kr"
                    td!=val.new_price + "kr"
        //each val, index in diff_products
        //    li= index + ': ' + val.varenummer + " " + val.varenavn

        //each val, index in diff_prices
        //    li= index + ': ' + val.varenummer + " " + val.varenavn

        //canvas(id="line", class="chart chart-line", chart-options="chart_options", chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick")
