html(ng-app="VinData")
  head
    title!= title
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="/static/js/ui-bootstrap-tpls.min.js")
    script(src="/static/js/lookup.js")
    script(src="/static/js/Chart.js")
    script(src="/static/js/angular-chart.min.js")
    script(src="/static/js/ng-table.min.js")

    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="/static/css/ng-table.css")
    link(rel='stylesheet', href='/static/css/pretty_table.css')
    link(rel='stylesheet', href='/static/css/ui-bootstrap-csp.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/angular-chart.min.css')

  body
    h1!= "Vinmonopolet price history"

    div(class="container-fluid", ng-controller="TypeaheadCtrl")
        input(type="text", ng-blur="leave_search()" ng-model="result", typeahead-on-select="set_item($item)", typeahead="suggestion for suggestion in product($viewValue)")

    div(ng-controller="PriceDiffTable", ng-hide="hide_table")
        h2!="Price differences detected in the last 30 days"
        table(ng-table="tableParams", class="table table-bordered table-striped table-condensed", cellspacing=0)
            tr(ng-repeat="item in $data")
                td(title="'Varenummer'", filter="{ varenavn: 'number'}", sortable="'varenummer'")
                    a(href="{{item.vareurl}}")!="{{item.varenavn}}"
                td(title="'Varenavn'", filter="{ varenavn: 'text'}", sortable="'varenavn'")!= "{{item.varenavn}}"
                td(title="'Alkohol'", filter="{ alkohol: 'number'}", sortable="'alkohol'")!= "{{item.alkohol}}" + "%"
                td(title="'Varetype'", filter="{ varetype: 'text'}", sortable="'varetype'")!= "{{item.varetype}}"
                td(title="'Ny Pris'", filter="{ varetype: 'number'}", sortable="'varetype'")!= "{{item.new_price}}"
                td(title="'Gamle Pris'", filter="{ varetype: 'number'}", sortable="'varetype'")!= "{{item.old_price}}"

    div(ng-controller="NewProductsTable", ng-hide="hide_table")
        h2!="New items found in the last 30 days"
        table(ng-table="tableParams", class="table table-bordered table-striped table-condensed", cellspacing=0)
            tr(ng-repeat="item in $data")
                td(title="'Varenavn'", filter="{ varenavn: 'text'}", sortable="'varenavn'")
                    a(href="{{item.vareurl}}")!="{{item.varenavn}}"
                td(title="'Alkohol'", filter="{ alkohol: 'number'}", sortable="'alkohol'")!= "{{item.alkohol}}" + "%"
                td(title="'Varetype'", filter="{ varetype: 'text'}", sortable="'varetype'")!= "{{item.varetype}}"
                td(title="'Pris'", filter="{ varetype: 'number'}", sortable="'varetype'")!= "{{item.pris}}"

    div(ng-controller="Graph", ng-show="hide_table")
        h2(ng-click="back_to_main()")!= "&#8678; back to main page"
        canvas(id="line", class="chart chart-line", chart-options="chart_options", chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick")
